/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');


.right{
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.w50{
  width: 46%;
}

.w33{
  width: 33.333%;
}

.w66{
  width: 66.6666%;
}

.large {
  font-size: x-large;
}

.center {
  margin: 0 auto;
}

.btn{
  color: white;
}

.orizontal_align {
  display: flex;
   align-items:center;

}

.btn-primary{
  background-color: #7c81e4 !important;
  border-color:#7c81e4 !important;
}
.btn-primary > a {
  color: white;
  text-decoration: none;
}

.first_l::first-letter {
  font-size: 200%;
  padding-right: .05em;
  font-family: 'Angkor', cursive;
  line-height: 0;
  /* padding-bottom: .3em; */
}

/* .underline{
  mix-blend-mode: multiply;
}
mark {
  mix-blend-mode: multiply;
  background-color: #f3a600;
  height: 50%;
  color: black;
} */

h1, h2, h5 {
  font-family: 'Angkor', cursive;
}

.titles {
  font-family: 'Angkor', cursive;
}

.carl{
  text-align: center;
  padding: .4em;
}

h1 {
  font-size: 3.5rem !important;
  margin: 0;
}

h2 {
  font-size: 2.5rem !important;
  margin-bottom: 1.5rem !important;
}

h5{
  font-size: 1.5rem !important;
}
/*SVG*/

#stack {
  fill: red;
}

/* body */ 

* {
  box-sizing: border-box;
}

 html {
  scroll-snap-type: y mandatory;
} 

.snappy {
  scroll-snap-type: y mandatory;
} 
 
body{
  font-size: 1.2rem !important;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important; 
}

.v-child{
  scroll-snap-align: center;
  scroll-snap-stop: always;

  height: 100vh;
  width: 100vw;
  display: flex;
}
 
.v-child {
  -ms-overflow-style: none;  /* IE and Edge */
  -ms-overflow-scrollbar-width: none;  /* Firefox */
  }

.h-sect{
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  display: flex;
}

.h-child{
  scroll-snap-align: center;
  flex: 0 0 auto;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.list{
  margin: 0;
}

.bg-body {
  opacity: 95%;
  margin:auto
}

.story {
  height: 800px;
}

.emojinote {
  vertical-align: sub;
  font-size: 50px;
}

.sidebox {
  margin-top: 225px;
}

.card-issue:hover {
  background-color: #000;
  color: fff;
}

/* Photos background */

.intro-slide {

  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





/* links colors */ 


.blue_link{
  text-decoration: none !important;
  font-weight: bold !important;
  color: white !important;
}

.blue_link:hover{
  color: #7c81e4 !important;
  text-decoration: underline !important;
}

.paragrap_yellow > p > .blue_link:hover{
  color: #212529 !important;
  text-decoration: underline !important;
}


/* mobile fixes */ 

@media (max-width: 425px) {
  .shadow-lg {
    height: 450px !important;
  }

  .p-5 {
    padding: 1.5rem !important;
  }




.title1{
font-size: 10vw !important;
}
.title2{
font-size: 10vw !important;
}
.title3{
font-size: 12vw !important;
}

.inside-slide:after {

  width: 60vw !important;
}
}

@media (max-width: 820px) {
  .shadow-lg {
    height: 750px;
  }

.title1{
  font-size: 10vw !important;
  }
  .title2{
  font-size: 10vw !important;
  }
  .title3{
  font-size: 12vw !important;
  }

  .inside-slide:after {

    width: 60vw !important;
  }

}

/* @media screen and (max-width: 480px) {
  body {
    background-color: lightgreen;
  }
} */


.none{
  display: none !important;
}

.inside-slide{
  height: 60vh;
  width: 70vw;
 
  margin-bottom: 10vh;
  margin-left: 15vw;
  margin-right: 15vw;
  overflow: scroll;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%); 
}

.inside-slide:after {
  content: "";
  display: block;
  width: 65vw;
  margin-bottom: 10vh;
  
  margin-right: 30vw !important;
  height: 50px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgb(255, 255, 255) 10%);
  z-index: 3001;
  position: absolute;
  bottom: 0;
}


.biblio-slide-l-trasp{
  padding: 3%;
  padding-left: 7vw;
  height: 60vh;
  width: 50vw;
  margin:auto;
 
  overflow: scroll;
  background-color: #f8f9fa00;
  
}
 
.biblio-slide-r{
  margin: auto;
  width: 50vw;
  padding-right: 10vw;
  overflow: scroll;
}



.biblio-slide-r-trasp{
  padding:3%;
  padding-right: 10vw;

  height: 60vh;
  width: 50vw;
  margin:auto;
 
  overflow: scroll;
  background-color: #f8f9fa00;
  
}



.biblio-slide-l {
  margin: auto;
  width: 50vw;
  padding-left: 10vw;
  padding-right: 3vw;
  overflow: scroll;

 
}


.duble_content{
  display: flex;
  margin:auto;
}

.in-slide{
  margin: auto;
  padding: 0 10em;
  background-color: #212529;
  
}

.flex-column {
  display: flex;
}

.paragrap_neutral{
  margin-bottom: 2.3em;
}

.paragrap_yellow{
  padding: 1.4vw;
  margin: .5rem;
  margin-bottom: 2vh;
  /* background-color: #fca311;*/
  background-color: #7c81e4;
  border-radius: .5em;
  /*box-shadow: 1rem 1rem 0rem rgb(0 0 0 / 18%);*/
}

.text-button{
  background-color:  #a0a3de !important;
  color: black;
  
/*  background-color:  rgb(68, 153, 136) !important; */
}

/* Slides background */

.all-slide {
 /* background-color:#ffffff;*/
  /*background-color:#e9ecef;*/
  /*background-color:#e1e1e1;*/
  background-color:#212529;
}







.cover-slide{
  
  min-width: 70vw;
  margin-top: 20vh;
  
 
  /*box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%), 0px -40px 10px 0px rgb(255, 255, 255) inset; */
}





/* Hide scrollbar */

.inside-slide::-webkit-scrollbar {
  display: none;
}

.out-slide::-webkit-scrollbar {
  display: none;
}

.img-slide::-webkit-scrollbar {
  display: none;
}

.inside-slide {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


.out-slide {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
    }


.img-slide::-webkit-scrollbar {
      -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
    }

        

.hidden{
  visibility:hidden;
}

.downarrow{
  width: 16vh;
  height: 10vh;
  margin-left: 42.6%;
  border: none !important;
  background-color: rgba(126, 30, 30, 0) !important;
}

.arrowdown{
  margin-left: 4%;
}

.coverpage{
  background-color:rgba(0, 0, 0, 0.729)
}
.coverpage{
  padding-top: 10vh !important;
  height: 100vh;
}
.coverpage{
  background-image: url("svgs/jeremy-yap-J39X2xX_8CQ-unsplash2.jpg");
  background-size:cover;
  height: 100vh;
}

.icon_color{
  color: #6e01e3;
  filter: brightness(20%);
}




.triangle-left {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid rgb(255, 255, 255);
  border-bottom: 30px solid transparent;
}

.card{
  /*background-color: #6e01e3 !important;    PURPLEEEEEEEEEEEEEEEEEEEEE    */
  /*border: 5px solid rgb(255, 255, 255) !important;*/
  margin-bottom: 0.7rem;
  background-color: #919191 !important;
  
  border: none !important;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.138) !important;
  background-color: none !important; 
  border-bottom: none !important;
 
}

.title-carousel{
  padding-top: 14vh;
  padding-bottom: 0vh !important;
  text-shadow:  0px 0rem 2rem rgb(0, 0, 0); 
}

/*TEAM*/


.rounded-circle{
  width: 15rem;
  height: 15rem;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-bottom: 2vw ;
}

/*
.shade{
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%); 
}*/

.img-h{
  margin-top: 2vw;
  margin-left: 4vw;
  height: 40rem;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-bottom: 2vw;
}


/* navs*/
.hide {
  display: none !important;
}
    
.no-scroll{
  position: fixed;
}

.lower_nav{

  height: 9rem;

  transition: all 0.5s ease;
}

/* anims */

.hides {
  /* display: none !important; */
}

  /* Anims */

.lower_nav > .hides {
 visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
   
  
}

.lower_nav:hover > .hides {
   display: flex !important;
   visibility: visible;
   opacity: 1;
   transition: visibility 1.5s, opacity 1.5s linear;
  
}

.lower_nav:hover{
  background: #212529;
  
}





.lower_nav:hover .pb {
  animation-name: lower;
  animation-duration: 1s;
  margin-bottom: 7rem;
}

.pb{
  animation-name: out;
  animation-duration: 1s;
}

.lower_nav:hover .circle {
  animation-name: lowerc;
  animation-duration: 1s;
  margin-bottom: 6.8rem;
  
}

.circle{
  animation-name: outc;
  animation-duration: 1s;
}

@keyframes lower {
  from {margin-bottom: 2rem;}
  to {margin-bottom: 7rem;}
}

@keyframes out {
  from {margin-bottom: 7rem;}
  to {margin-bottom: 2rem;}
}

@keyframes lowerc {
  from {margin-bottom: 1.8rem;}
  to {margin-bottom: 6.8rem;}
}

@keyframes outc {
  from {margin-bottom: 6.8rem;}
  to {margin-bottom: 1.8rem;}
}






.upper_nav{
  padding-top: 7rem;
  padding-left: 7rem;
  position: fixed;
  
  background-color: #2125297a;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030;
}

.upper_title{
  padding-top: 7rem;
  padding-left: 7rem;
  position: fixed;
  
  background-color: #21252900;
  top: 0;
  padding-right: 3em;
  padding-bottom: 3em;
  left: 0;

  z-index: 1030;
}





/* progress bar*/

.contain{
  
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
}
.pb {
  border-top: 5rem;
  border-bottom: 5rem;
  margin-bottom: 2rem;
  position: fixed;
  height: 10px;
  width: 100%;
  background: #ddd;
  
  bottom: 0;
  
  z-index: 1040;
}

.circle {
  width: 17px;
  height: 17px;
  /*background: rgb(68, 153, 136);*/
  background: rgb(160, 163, 222);
  border-radius: 50%;
  margin-bottom: 1.8rem;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
/* #449988*/



/* icons*/

.icon_box{
  padding-top: 3rem;
  padding-left: 3rem;
  
  position: fixed;
  
  background-color: #2b436a00;
  top: 0;
  padding-right: 3em;
  padding-bottom: 3em;
  left: 0;

  z-index: 1040;

}

#play:hover {
  filter: invert(100%) sepia(200%) saturate(2000%) hue-rotate(181deg) brightness(61%) contrast(330%);
}

#rect{
  transform: rotate(90deg);
}



.navbar-brand{
  color: rgb(255, 255, 255);
}


.icon-button{
  display: flex !important;
  background-color: rgba(94, 51, 51, 0);
  border: none !important;
  
}

.icon-low-nav{
  margin-top: 3em;
  /*filter:invert(100%) sepia(200%) saturate(2000%) hue-rotate(307deg) brightness(80%) contrast(150%);*/
  filter: invert(100%) sepia(200%) saturate(2000%) hue-rotate(181deg) brightness(61%) contrast(330%);
  /* filter: invert(47%) sepia(89%) saturate(0%) hue-rotate(5deg) brightness(90%) contrast(50%);*/
  /*filter: invert(47%) sepia(89%) saturate(2476%) hue-rotate(5deg) brightness(90%) contrast(50%);*/
}

.purple{
  filter: invert(100%) sepia(200%) saturate(2000%) hue-rotate(181deg) brightness(61%) contrast(330%);
}

.green{
  filter:invert(100%) sepia(200%) saturate(2000%) hue-rotate(307deg) brightness(80%) contrast(150%);
/* filter: invert(47%) sepia(89%) saturate(2476%) hue-rotate(138deg) brightness(90%) contrast(50%);
filter:invert(100%) sepia(200%) saturate(2000%) hue-rotate(307deg) brightness(80%) contrast(150%);
filter:invert(47%) sepia(89%) saturate(2476%) hue-rotate(5deg) brightness(90%) contrast(50%);*/
}


.white{
  filter: invert(600%) sepia(8%) saturate(0%) hue-rotate(165deg) brightness(1000%) contrast(100%);
}



#play{
  margin: auto;
}


#previous{
  transform: rotate(180deg);
}
/* BUTTONS */

.title-button{
  text-align: left;
  border: none !important;
  background-color: rgba(68, 153, 136, 0) !important;
}

.text-button{
  width: 8rem;
  position: fixed;
  right: 3rem;
  margin-top: 3.5em;
  border-radius: .25rem!important;
 
  border: none !important;

}

.container-nav{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  
  width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}



.dropdown-menu{
    transform: translate3d(0em, -12em, 0em)!important;
}


.dropdown-toggle::after {
  display: none !important;
}


.fix-svg {
  pointer-events: none;
}


#infinity {
  position: relative;
  width: 212px;
  height: 100px;
  box-sizing: content-box;
}
#infinity:before,
#infinity:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid #E50914;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}
#infinity:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}


#infinity2 {
  margin-left: 30%;
  position: relative;
  width: 212px;
  height: 100px;
  box-sizing: content-box;
}
#infinity2:before,
#infinity2:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  /*  border: 20px solid #7A4162;*/
  border: 20px solid #fca311;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}
#infinity2:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}


#infinity1 {
  margin-left: 60%;
  position: relative;
  width: 212px;
  height: 100px;
  box-sizing: content-box;
}
#infinity1:before,
#infinity1:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid #0F79AF;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}
#infinity1:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}